{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}报告列表{% endblock %}
{% block page_content %}
<div class="page-header">
		<form action="/report/search" method="GET" class="navbar-form navbar-left" role="search">
			<div class="form-group">
		<input id="search" name="search" type="text" class="form-control" value="{{search}}">
			</div>
			<input type="submit" name="submit" id="submit" class="form-control" value="搜索">
		</form>
    <div class="panel panel-default">
	<table class="table">
		<th>项目名称</th>
		<th>负责人</th>
		<th>创建时间</th>
		<th>工作量</th>
		<th>整体风险程度</th>
		<th>报告下载</th>
		{% for p in projects%}
		<tr>
			<td>{{ p.project }}</td>
			<td>{{ p.producer }}</td>
			<td>{{ p.production_date }}</td>
			<td>{{ p.work_time }}</td>
			<td>{{ p.risk_level }}</td>
			<td><a href="/download/{{ p.path }}">{{ p.path }}</a></td>
		</tr>
		{% endfor %}
	</table>
		{{ pagination.links }}
	</div>
</div>
{% endblock %}