{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}报告列表{% endblock %}
{% block scripts %}
{{ super() }}

{% endblock %}
{% block page_content %}
<div class="page-header">
	<form action="/vuln/search" method="GET" class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input id="search" name="search" type="text" class="form-control" value="">
			</div>
			<input type="submit" name="submit" id="submit" class="form-control" value="搜索">
	</form>
    <div class="panel panel-default">
	<table class="table">
		<th>漏洞名称</th>
		<th>漏洞危害</th>
		<th>漏洞链接</th>
		<th>操作</th>
		{% for v in vulns%}
		<tr>
			<td>{{ v.vul_name }}</td>
			<td>{{ v.vul_level }}</td>
			<td>{{ v.vul_link }}</td>
            <td>
				<a href="/vuln/edit/{{ v.vul_id }}">编辑</a>
				<a  href="{{ url_for('vuln.delete', vul_id=v.vul_id) }}" onclick="{if(confirm('确定删除?')){this.document.formname.submit();return true;}return false;}"> 删除</a>
			</td>

		</tr>
		{% endfor %}
	</table>
		{{ pagination.links }}
	</div>
</div>
{% endblock %}